<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= pageTitle %></title>
   <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/medium.css">
   <link rel="stylesheet" href="/css/large.css">

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



   <script src="/js/utils.js" defer></script>
</head>
<body>
      <header>
         <a class="home-logo-a" href="/"><div class="header-info">
            <img src="/img/rhino-logo.png" alt="Kifaru Adventures Logo">
         <h1>Kirafu Adventures</h1>
         </div></a>
         
      
     
   <nav>
      <ul class="menu">
         <li><a class="menuItem <%= path === '/' ? 'activeNav' : '' %>"href="/">Home</a></li>
         <li><a class="menuItem <%= path === '/safari' ? 'activeNav' : '' %>"href="/safari">Safari</a></li>
         <li><a class="menuItem <%= path === '/lodging' ? 'activeNav' : '' %>"href="/lodging">Lodging</a></li>
         <li><a class="menuItem <%= path === '/hunting' ? 'activeNav' : '' %>"href="/hunting">Hunting</a></li>
         <li><a class="menuItem <%= path === '/fishing' ? 'activeNav' : '' %>"href="/fishing">Fishing</a></li>
         <li><a class="menuItem <%= path === '/about-us' ? 'activeNav' : '' %>"href="/about-us">About Us</a></li>
      </ul>
   </nav>
   <button class="hamburger">
      <i class="menuIcon material-icons">menu</i>
      <i class="closeIcon material-icons">close</i>
   </button>
</header>