<%- include('includes/header.ejs') %>
<main class="hunting-main">
   
   <div class="hunting-cards">
      <% for (let hunt of hunts) { %> 
      <div class="hunt-card">
         <h2><%= hunt.name %></h2>

         <details>
            <summary>About this Hunt</summary>
            <p><%= hunt.description %></p>
         </details>
         

         <h2>$<%= hunt.price %></h2>

         <h3>Services Included</h3>
         <ul>
            <li>Trackers: 
               <% if (hunt.trackers == true) { %>
                  <img src="/img/tick.png" alt="Green tick">
               <% } else { %>
                  <img src="/img/cross.png" alt="Red cross">
               <% } %>
            </li>

            <li>Skinners: 
               <% if (hunt.skinners == true) { %>
                  <img src="/img/tick.png" alt="Green tick">
               <% } else { %>
                  <img src="/img/cross.png" alt="Red cross">
               <% } %>
            </li>

            <li>Guides: 
               <% if (hunt.guides == true) { %>
                  <img src="/img/tick.png" alt="Green tick">
               <% } else { %>
                  <img src="/img/cross.png" alt="Red cross">
               <% } %>
            </li>

            <li>Trophies: 
               <% if (hunt.trophies == true) { %>
                  <img src="/img/tick.png" alt="Green tick">
               <% } else { %>
                  <img src="/img/cross.png" alt="Red cross">
               <% } %>
            </li>

            <li>Taxidermy: 
               <% if (hunt.taxidermy == true) { %>
                  <img src="/img/tick.png" alt="Green tick">
               <% } else { %>
                  <img src="/img/cross.png" alt="Red cross">
               <% } %>
            </li>
         </ul>

         <a href="/contact-us">Enquire for More Info</a>
      </div>
      <% } %> 
   </div>
</main>
<%- include('includes/footer.ejs') %>