<%- include('includes/header.ejs') %>

<script src="/js/slideshow.js" defer></script>
<main class="hunting-main">

   <div class="slideshow-container">

      <div class="mySlides fade">
         <img src="/img/kudu.jpg" style="width:100%">
         <div class="text">Kudu</div>
       </div>
       
       <div class="mySlides fade">
         <img src="/img/buffalo.jpg" style="width:100%">
         <div class="text">Buffalo</div>
       </div>
       
       <div class="mySlides fade">
         <img src="/img/zebra.jpg" style="width:100%">
         <div class="text">Zebra</div>
       </div>

       <div class="mySlides fade">
         <img src="/img/springbuck.jpg" style="width:100%">
         <div class="text">Springbuck</div>
       </div>

       <div class="mySlides fade">
         <img src="/img/wildebeest.jpg" style="width:100%">
         <div class="text">Blue Wildebeest</div>
       </div>
       
      </div>
   
   <div class="hunting-cards">
      <% for (let hunt of hunts) { %> 
      <div class="hunt-card">
         <h2><%= hunt.name %></h2>
         <h2>$<%= hunt.price %></h2>


         <details>
            <summary>Read more about this hunt</summary>
            <p class="hunt-desc"><%= hunt.description %></p>
         </details>
         
         <h3>Services Included:</h3>
         <ul class="hunt-services">
            <li class="hunt-li">Trackers: 
               <% if (hunt.trackers == true) { %>
                  <span class="tick">&#10004;</span>
               <% } else { %>
                  <span class="cross">&#10005;</span>
               <% } %>
            </li>

            <li class="hunt-li">Skinners: 
               <% if (hunt.skinners == true) { %>
                  <span class="tick">&#10004;</span>
               <% } else { %>
                  <span class="cross">&#10005;</span>
               <% } %>
            </li>

            <li class="hunt-li">Guides: 
               <% if (hunt.guides == true) { %>
                  <span class="tick">&#10004;</span>
                  <% } else { %>
                     <span class="cross">&#10005;</span>
                  <% } %>
            </li>

            <li class="hunt-li">Trophies: 
               <% if (hunt.trophies == true) { %>
                  <span class="tick">&#10004;</span>
                  <% } else { %>
                     <span class="cross">&#10005;</span>
                  <% } %>
            </li>

            <li class="hunt-li">Taxidermy: 
               <% if (hunt.taxidermy == true) { %>
                  <span class="tick">&#10004;</span>
                  <% } else { %>
                     <span class="cross">&#10005;</span>
                  <% } %>
            </li>
         </ul>

         <a class="contact-details" href="/contact-us">Enquire for More Info</a>
      </div>
      <% } %> 
   </div>
</main>
<%- include('includes/footer.ejs') %>