<%- include('includes/header.ejs') %>
<main class="safari-details">

   <a class="backbutton" href="/safari">Back</a>
   <h2 class="details-header"><%= safari.name %></h2>

   <div class="details">
      <div class="product-images">
         <% for (img of safari.imageUrl) { %>
         <img src="/img/<%= img %>" alt="Image for the <%= safari.name %>">
         <% } %> 
      </div>

      <div class="product-details">
         <h3><%= safari.description %></h3>
         <a class="contact-details" href="/contact-us">Contact Us for More Info</a>
      </div>
   </div>
   
   
</main>
<%- include('includes/footer.ejs') %>