<%- include('includes/header.ejs') %>
<main class="safari-main">
   <div class="cards">
      <% for (let safari of safaris) { %>
         <div class="card" id="product">
            <a class="details-a" href="/details/<%= safari._id %>?type=safari">
            <img src="/img/<%= safari.imageUrl[0] %>" alt="Image of the <%= safari.name %> from Kifaru Adventures">
            <h2><%= safari.name %></h2>
            <div class="button-div">
               <a class="display-button" href="/contact-us">Contact Us</a>
            </div>
         </div></a>
      <% } %>
   </div>
</main>
<%- include('includes/footer.ejs') %>